html {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(img/basketball.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 600px;
  margin: 10px auto;
  padding: 10px 50px;
}

input {
  height: 20px;
  width: 250px;
}

#mark-quiz {
  padding: 7px;
  color: white;
  background-color: rgb(255, 109, 41);
  border-radius: 10px;
}

#mark-quiz:hover {
  transition: opacity 0.2s;
  opacity: 0.8;
}
